*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}

:root {
  --body-bg: #ffebcd;

  --header-bg: #201e1d;
  --header-text: #fab1d9;

  --main-bg: #ffebcd;
  --main-text: #201e1d;
  --main-title-bg: #fab1d9;

  --card-bg: #c9f091;
  --card-text: #201e1d;
}
